%primary-button {
    display: flex;
    min-width: 42px;
    min-height: 42px;
    align-items: center;
    justify-content: center;
    padding: 0 $spacer-big;
    border: 1px solid $primary;
    background-color: $white;
    font-size: $font-base;
    font-family: $sans-serif;
    font-weight: bold;

    &:hover,
    &:focus {
        border-color: $secondary;
        color: $secondary;
    }
}

%secondary-button {
  @extend %primary-button;
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
      color: $white;
      background-color: $secondary;
  }

}

%paragraph {
    text-align: justify;
    line-height: 1.75;
}
