@import './z-indexes';

.v--modal {
  z-index: $z-index-medium;
  &-overlay {
    background-color: rgba(0,0,0,0.6);
  }
  &-background-click {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#modals-container {
  position: absolute;
  top: 0;
  left: 0;
}
