@import './global/colors';
@import './global/fonts';
@import './global/breakpoints';
@import './global/spacers';
@import './global/text-sizes';
@import './global/mixins';
@import './global/components';
@import './global//v-modal';
@import './global//modal';
@import './global/z-indexes';

// global text setup
h1, h2, h3, h4, h5, h6, p, a {
    font-family: $serif;
    color: $primary;
    margin: 0;
}

h2 {
  font-size: $font-large;
}
 h3 {
  font-size: $font-big;
 }

p, a {
    font-size: $font-base;
    font-weight: normal;
}

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html {
  background-color: $primary;
}

body {
  background-color: $white;
}

ul, ol {
    margin: 0;
}

button {
    @extend %primary-button;
}

p {
    @extend %paragraph;
}

#__layout,
#__nuxt {
  height: 100%;
}
